<h1 class="text-center">Altcoins</h1>
<p class="text-center">
La valeur la plus sure dans les cryptomonnaie est le bitcoin, c'est pourquoi il est idéal de garder un maximum de bitcoin possible.
<br>
<br>
Vous pouvez vous risquer dans les altcoins (autres cryptommonaies, ex: ethereum, litecoin, waves,...), mais pour cela, il vous faut vous renseigner sur le produit que vous voulez acheter, en allant sur leur site, lire bien attentivement toutes les informations, les whitespapers etc...
<br>
Si vous êtes sure que ce n'est pas un scam (une arnaque), vous pouvez en acheter.
<br>
<br>
</p>

<h1 class="text-center">To Do</h1>
<p class="text-center">
Télécharger blockfolio sur son téléphone.
<br>
Rentrer vos achats dans l'application, cela vous permet de suivre les cours de vos investissements sur votre téléphone à tout moment. Vous pouvez aussi mettre des alertes. Par exemple si vous achetez une action A à un montant de 3$ vous pouvez mettre une alerte qui vous avertit sur votre téléphone lorsque votre action atteint les 6$. Cela vous permet d'être plus réactif, et de pouvoir vendre au bon moment, sans rater d'occasion.
<br>
Télécharger Twitter (voir sources), et suivre les comptes lié à vos investissements.

<br>
Télécharger Telegram  (voir cources), et rajouter les groupes concernant vos investissements.
</p>
