  <%
  require 'net/http'
  require 'json'

  url = 'https://api.coinmarketcap.com/v1/ticker/bitcoin/'
  uri = URI(url)
  response = Net::HTTP.get(uri)
  JSON.parse(response)

  @my_hash = JSON.parse(response)
  price_usd = @my_hash[0]["price_usd"]
  %>


  <div class="converter_place text-center">
    <div class="container1.13">
      <h1>BTC to USD</h1>
      <div class="basefont"><p style="margin-left: 60px;">Price:</p><input type="text" style="width: 100px; margin-left: 30px;" class="chosen" value="<%=price_usd%>" placeholder="<%=price_usd%>">USD</div>
      <div class="px-em">
        <div class="px"><input type="text" class ="input px-input" placeholder="0"/><div class="text">usd</div></div>
        <div class="em"><input type="text" class ="input em-input" placeholder="0"/><div class="text">btc</div></div>
      </div>

    </div>
  </div>


  <style>
  .converter_place {
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    font-family: 'Raleway';
  }
  .container {
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    font-family: 'Raleway';

    h1 {
      font-size: 5.85rem;
      padding: 0 0 .2em 0;
      margin: 0;
    }
  }

  .input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: .4em;
    border-bottom: 1px dotted #000;
    outline: none;
    width: 150px;
    font-size: 3rem;
    text-align: right;
    margin-right: .3em;
    background-color: #f4f4f4;
    outline: none;

    &::-webkit-input-placeholder {
      color: #000;
      opacity: .2;
    }
  }

  .px-em {
    display: flex;
  }

  .px, .em {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .text {
      padding-bottom: .2em;
    }
  }

  .em {
    margin-left: 1em;

    .text {
      margin-right: -.3em;
    }
  }

  .px-input {
    width: 105px;
  }
  .em-input {
    width: 160px;
  }

  .basefont {
    display: flex;
    align-items: baseline;
    font-family: 'Raleway';
    font-size: 2.3rem;
    padding: 0 0 0em 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    width: 195px;
    p {
      margin: 0;
      padding: 0;
    }

    .chosen {
      width: 80px;
      border-top: none;
      border-right: none;
      border-left: none;
      margin-left: .2em;
      margin-right: .2em;
      font-size: 3.3rem;
      text-align: center;
      border-bottom: 2px dotted #000;
      background-color: #FF90B3;
      outline: none;

      &::-webkit-input-placeholder {
        color: #000;
        opacity: .2;
      }
    }
  }
</style>
