

<p><span style="font-weight: 900;">Altcoins:</span> ce sont toutes les cyptos monnaies qui sont autres que le bitcoin. Exemple: waves, decred, lisk, ... Vous pouvez en acheter avec le bitcoin sur les plateforme de trading comme Bittrex, Kraken, ... (voir sources)</p>

<p><span style="font-weight: 900;">ATH: </span>All Time High, c'est lorsque la valeur de l'action est à son plus haut.</p>

<p><span style="font-weight: 900;">Hold: </span> C'est lorsqu'on décide de "Holder", de garder une action sur du long terme.</p>

<p><span style="font-weight: 900;">Daytrade: </span> C'est lorsqu'on joue sur les cours quotidien, on achète et on revend le jour même.</p>




