<% require 'coinbase/wallet'

client = Coinbase::Wallet::Client.new(api_key: 'a39d5d67b37ecf3eedebc166688bdbfb2bd59bef6f53653eb343017db64d4e1b',
  api_secret: '4eb1e71269ce9907dfbfa998b8a3b904483e4cc450ce268a1bd81543cfb5c5ff',
  CB_VERSION: 'YYYY-MM-DD')

    currency_code = 'USD'  # can also use EUR, CAD, etc.

    # Make the request
    price = client.spot_price({currency: currency_code})
    price_usd_btc = price.amount

    %>


    <%  "Current bitcoin price in #{currency_code}: #{price.amount}" %>
    <br><br>

    <%     currency_code = 'EUR'  # can also use EUR, CAD, etc.

    # Make the request
    price = client.spot_price({currency: currency_code})
    price_eur_btc = price.amount

    %>


    <%  "Current bitcoin price in #{currency_code}: #{price.amount}" %>


    <div class="graph">
      <h1>Live Bitcoin Data</h1>
      <div id="placeholder3"></div>

      <div id="placeholder"></div>
      <div class="btcwdgt-chart" bw-theme="light"><script>
        (function(b,i,t,C,O,I,N) {
          window.addEventListener('load',function() {
            if(b.getElementById(C))return;
            I=b.createElement(i),N=b.getElementsByTagName(i)[0];
            I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
          },false)
        })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
      </script></div>

    </div>


    <br><br><br>

