  <h3>Trading tools</h3>
  <br>
  <a href="https://www.tradingview.com/symbols/BTCUSD/" target=_blank>Tradingview</a>
  Vous pouvez regarder les prix par rapport au dollar ou bitcoin, assez pratique pour visualiser sur du long terme.
  <br>
  <a href="https://coinmarketcap.com" target=_blank>Coinmarketcap</a>
  <br> <br>
  <h3>News</h3>
  <br>
  <a href="https://news.bitcoin.com/" target=_blank>News.bitcoin</a>
  <br>
  <a href="https://www.coindesk.com/category/news/" target=_blank>Coindesk</a>
  <br>
  <a href="https://cointelegraph.com/tags/bitcoin" target=_blank>Cointelegraph</a>
  <br>
  <a href="https://bitconnect.co/bitcoin-news" target=_blank>Bitconnect</a>
  <br> <br>

