  <div class="sources" style="margin-left: 30px;">

    <h3 style="tradingtools">Trading tools</h3>
    <br>
    <div class="tradingview">
      <a href="https://www.tradingview.com/symbols/BTCUSD/" target=_blank>
        <%= image_tag "http://www.patternsmart.com/cart//image/data/tradingview.png", alt: "tradingview", width: 64, height: 64 %>
      Tradingview</a>

    </div>
    <br>
    <a href="https://coinmarketcap.com" target=_blank>Coinmarketcap</a>

    <h3>Trading plateforms</h3>
    <br>
    <a href="https://www.bittrex.com/" target=_blank>Bittrex</a>
    <br>
    <a href="https://www.poloniex.com" target=_blank>Poloniex</a>
    <br>
    <a href="https://www.coinbase.com/join/5999d0aeb93c0a00d93f15f1" target=_blank>Coinbase</a>
    <br>
    <a href="https://www.kraken.com/" target=_blank>Kraken</a>
    <br>
    <a href="https://www.cryptopia.co.nz/" target=_blank>Cryptopia</a>
    <br>
    <a href="https://yobit.net/" target=_blank>Yobit</a>
    <br>
    <a href="https://www.bitfinex.com/" target=_blank>Bitfinex</a>
    <br>
    <a href="https://www.gdax.com/" target=_blank>Gdax</a>
    <br> <br>
    <h3>News</h3>
    <br>
    <a href="https://news.bitcoin.com/" target=_blank>News.bitcoin</a>
    <br>
    <a href="https://www.coindesk.com/category/news/" target=_blank>Coindesk</a>
    <br>
    <a href="https://cointelegraph.com/tags/bitcoin" target=_blank>Cointelegraph</a>
    <br>
    <a href="https://bitconnect.co/bitcoin-news" target=_blank>Bitconnect</a>
    <br> <br>
    <h3>Applications</h3>
    <br>
    <a href="https://telegram.org/" target=_blank>Telegram</a>
    <br>
    <a href="https://slack.com/" target=_blank>Slack</a>
    <br>
    <a href="https://tab-trader.com/" target=_blank>Tabtrader</a>
    <br><br> <br>
  </div>
