  <div class="sources" style="margin-left: 30px;"><h3>Trading tools</h3>
    <br>
    <a href="https://www.tradingview.com/symbols/BTCUSD/" target=_blank>Tradingview</a>
    <br>
    <a href="https://coinmarketcap.com" target=_blank>Coinmarketcap</a>

    <h3>Trading plateforms</h3>
    <br>
    <a href="https://www.bittrex.com/" target=_blank>Bittrex</a>
    <br>
    <a href="https://www.poloniex.com" target=_blank>Poloniex</a>
    <br>
    <a href="https://www.coinbase.com/join/5999d0aeb93c0a00d93f15f1" target=_blank>Coinbase</a>
    <br> <br>
    <h3>News</h3>
    <br>
    <a href="https://news.bitcoin.com/" target=_blank>News.bitcoin</a>
    <br>
    <a href="https://www.coindesk.com/category/news/" target=_blank>Coindesk</a>
    <br>
    <a href="https://cointelegraph.com/tags/bitcoin" target=_blank>Cointelegraph</a>
    <br>
    <a href="https://bitconnect.co/bitcoin-news" target=_blank>Bitconnect</a>
    <br> <br>
    <h3>Applications</h3>
    <br>
    <a href="https://telegram.org/" target=_blank>Telegram</a>
    <br>
    <a href="https://slack.com/" target=_blank>Slack</a>
    <br>
    <a href="https://tab-trader.com/" target=_blank>Tabtrader</a>
    <br><br> <br>
  </div>
