
<br>
<br>
<div class="text-center">
  <h1>Acheter des Bitcoins</h1>





  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inscrivez-vous sur <a href="https://www.coinbase.com/join/5999d0aeb93c0a00d93f15f1" target=_blank>Coinbase</a> <br> <br>

  <i class="fa fa-lock" aria-hidden="true"></i> Sécurisez votre compte en ajoutant votre numéro de téléphone <br> <br>

<i class="fa fa-credit-card" aria-hidden="true"></i> Rajoutez une méthode de payement (paramètres <i class="fa fa-arrow-right" aria-hidden="true"></i> méthode de payment)

<br><br>
<i class="fa fa-eur" aria-hidden="true"></i> Faite un dépot en Euro sur votre compte (onglet compte) <br> Cela peut prendre du temps. <br><br>
<i class="fa fa-btc" aria-hidden="true"></i> Achetez vos bitcoins (onlget Achat/Vente)
<br>
<br>

<h1>Acheter des Altcoins</h1>
<br>
<i class="fa fa-btc" aria-hidden="true"></i> Vous devez avoir des bitcoins sur coinbase.
<br>

<br>
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inscrivez-vous sur <a href="https://www.bittrex.com" target=_blank>Bittrex</a> <br><br>

    <i class="fa fa-lock" aria-hidden="true"></i> Sécurisez votre compte en ajoutant votre numéro de téléphone <br> <br>
 <i class="fa fa-address-book-o" aria-hidden="true"></i> Allez dans votre "wallet" et copié votre adresse bitcoin. <br><p style="font-size:12px; font-style: italic;"><br>Pour cela il vous faudra cliquer sur le bouton bleu "+" à gauche de bitcoin et copier l'adresse qui s'affiche,<br> ce sera votre adresse bitcoin pour votre compte bittrex (ex:1Jte1iy3CJuBon9NAtTjgc114EnYPF2cGX).</p> <br>

<i class="fa fa-rocket" aria-hidden="true"></i>
 Rendez vous sur votre compte coinbase dans l'onglet "comptes", cliquer sur "envoyer" à coté de vos bitcoins, <br>et rentrer l'adresse de votre compte bittrex.
<br><br>
<i class="fa fa-btc" aria-hidden="true"></i>
 Vous disposez maintenant de bitcoins sur Bittrex, vous pouvez acheter les altcoins de votre choix.
<br>
<br>
<br>
</div>
