
<br>
<br>
<div class="text-center">
  <h1>Acheter des bitcoins</h1>

  Aller sur <a href="https://www.coinbase.com/join/5999d0aeb93c0a00d93f15f1" target=_blank>Coinbase</a>

  avec ce lien vous aurez, à l'achat de plus de 100$, un bon de 10$. <br> <br>

  Inscrivez-vous sur le site. <br> <br>

  Je vous conseille d'ajouter votre numéro de téléphone, pour avoir une meilleure sécurité sur votre compte. <br> <br>

Une fois l'inscription remplie, et votre compte sécurisé, pour acheter des bitcoins vous devez vous rendre sur Paramètres, ensuite dans méthodes de payement et rajouter une methode de payement.
<br>
Une fois la méthode de payement rajoutée, vous devez vous rendre dans "compte" et faire un dépot en euro sur votre compte. Cela peut prendre du temps. <br>
Votre compte approvisionné, vous pouvez vous rendre dans l'onglet Achat/Vente et acheter vos bitcoins.
<br>
<br>

<h1>Acheter des altcoins</h1>
<br>
Vous devez avoir des bitcoins sur coinbase.
<br>
Rendez-vous sur <a href="https://www.bittrex.com" target=_blank>Bittrex</a>.
<br>
Une fois votre compte ouvert et sécurisé, vous n'avez plus qu'à aller dans votre "wallet" et ajouter vos bitcoins. Pour cela il vous faudra cliquer sur le bouton bleu "+" à gauche de bitcoin et copier cette adresse, ce sera votre adresse bitcoin pour votre compte bittrex. <br>
Rendez vous sur votre compte coinbase dans l'onglet "comptes", cliquer sur "envoyer" à coté de vos bitcoins, et rentrer l'adresse de votre compte bittrex.
<br>
Une fois vos bitcoins sur bittrex, ce qui peut prendre 30 min, vous pouvez acheter les cryptos de votre choix et construire votre portefeuille.
<br>
<br>
<br>
</div>
