



@media only screen and (max-width:1600px) {
.graph {
  margin-left: 24%;

}
}
@media only screen and (max-width:1000px) {
.graph {
  margin-left: 14%;

}
}

@media only screen and (max-width:800px) {
.graph {
  margin-left: 5%;

}
}
@media only screen and (max-width:600px) {
.graph {
  margin-left: 0%;

}
}
