<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-3 ">

        <h1>Editing Crypto</h1>

        <%= render 'forms', crypto: @crypto %>

        <%= link_to 'Show', @crypto %> |
        <%= link_to 'Back', crypto_path %>
      </div>
    </div>
  </div>

</div>
